  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(47, 47, 47, 0.76);
    color: #fff;
    text-align: center;
    padding: 6px 8px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container
  .tooltip:focus .tooltiptext {
    visibility: visible;
  } */

  .tooltip .tooltip-visible {
    visibility: visible;
  }
